.kdev4
.~lock.*
doc/
.Trash-1000/
.idea/
node_modules/
typings/
dist/
out/
htdocs/js
htdocs/fonts
htdocs/css
htdocs/img
nbproject/
locale/
de_DE.mo
config.in
package-lock.json
doreen-install-vars.inc.php*
doreen-key.inc.php*
doreen-optional-vars.inc.php*
.lastbuild.time
.stats.json
